OPENROUTER_API_KEY= # Get OpenRouter API Key from https://openrouter.ai/workspaces/default/keys
GH_AUTH_TOKEN= # (Optional) GitHub Personal Access Token to allieviate rate-limits
TURSO_DATABASE_URL=file:local.db
